@import '@/common/css/variable.scss';

@font-face {
  font-family: 'din-medium';
  src: url('~@/assets/fonts/din-medium.otf') format('opentype');
}

.dialog-metabull {
  .main {
    position: relative;
    box-sizing: border-box;
    padding: 1.2em 1.4em;
    text-align: left;
    font-size: 0.8rem;
    color: #fff;
    background: linear-gradient(180deg, #311a70 0%, #6f2684 100%);
    border: 0.15rem solid #ec68ff;
    border-radius: 0.5rem;
    @media (max-width: 768.89px) {
      border-width: 0.05rem;
      font-size: 0.7rem;
    }
  }
  .close {
    display: inline-block;
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    background: url('~@/assets/page-promo/page-metabull/close.png') center
      center / 150% no-repeat;
    cursor: pointer;
    @media (max-width: 768.89px) {
      top: -1.8rem;
      right: -1.8rem;
    }
  }
  .title {
    padding-bottom: 1em;
    font-size: 1.2em;
    border-bottom: 0.05rem solid #4f289f;
  }

  .table-wrap {
    max-height: 25rem;
    overflow-y: auto;
    border-radius: 0.5rem;
  }
  .table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    tbody {
      // display: block;
      // max-height: 20rem;
      // overflow-y: auto;
      background-color: #3a264d;
    }
    thead {
      background-color: #230b65;
      // border: 0.05rem solid #493160;
      // tr {
      //   width: calc(100% - 7px);
      // }
    }
    tfoot {
      background-color: #3b247b;
    }
    // thead,
    // tr {
    //   display: table;
    //   table-layout: fixed;
    //   box-sizing: border-box;
    //   width: 100%;
    // }
    th {
      padding: 0.8em 0.5em;
      line-height: 1.5;
      font-weight: normal;
      border: 0.05rem solid #493160;
      // border-top: 0;
      // border-bottom: 0;
      // &:last-child {
      //   border-right: 0;
      // }
    }
    td {
      padding: 0.6em 0.5em;
      line-height: 1.5;
      border: 0.05rem solid #493160;
      // border-top: 0;
      // &:last-child {
      //   border-right: 0;
      // }
    }
  }
}

