@mixin dialog-main() {
  box-sizing: border-box;
  width: 32rem;
  padding: 1.6rem 2rem 2rem;
  background-color: #353644;
  border-radius: 1.2rem;
  text-align: left;
  @media (max-width: 768.89px) {
    width: 85vw;
    padding: 1rem 1.1rem;
    border-radius: 0.6rem;
  }
}

.dialog-market {
  .main {
    @include dialog-main();
    font-size: 0.9rem;
    @media (max-width: 768.89px) {
      font-size: 0.7rem;
    }
  }

  .header {
    position: relative;
    margin-bottom: 1rem;
    @media (max-width: 768.89px) {
      margin-bottom: 0.7rem;
    }
    .title {
      font-size: 1rem;
      font-weight: bold;
      @media (max-width: 768.89px) {
        font-size: 0.8rem;
      }
    }
    .close {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background: url('~@/assets/home/dialog-close.png') center center no-repeat;
      background-size: 0.62rem;
      cursor: pointer;
    }
  }
  .btn-wrap {
    display: flex;
    margin: 1.5rem 1.5rem 0.5rem;
    @media (max-width: 768.89px) {
      margin: 1.1rem 0.5rem 0.3rem;
    }
    .fbx-btn {
      flex: 1;
      line-height: 2.8rem;
      font-size: 0.9rem;
      font-weight: bold;
      border-radius: 1.4rem;
      background-color: #efb35c;
      &:not(:first-child) {
        margin-left: 1.35rem;
      }
      @media (max-width: 768.89px) {
        line-height: 2rem;
        font-size: 0.7rem;
        &:not(:first-child) {
          margin-left: 0.7rem;
        }
      }
    }
  }
}
