@mixin dialog-main() {
  box-sizing: border-box;
  width: 32rem;
  padding: 1.6rem 2rem 2rem;
  background-color: #353644;
  border-radius: 1.2rem;
  text-align: left;
  @media (max-width: 768.89px) {
    width: 85vw;
    padding: 1rem 1.1rem;
    border-radius: 0.6rem;
  }
}

.dialog-market {
  .main {
    @include dialog-main();
    font-size: 0.9rem;
    @media (max-width: 768.89px) {
      font-size: 0.7rem;
    }
  }

  .header {
    position: relative;
    margin-bottom: 1rem;
    @media (max-width: 768.89px) {
      margin-bottom: 0.7rem;
    }
    .title {
      font-size: 1rem;
      font-weight: bold;
      @media (max-width: 768.89px) {
        font-size: 0.8rem;
      }
    }
    .close {
